<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.onlinetrending">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".detailactivty"
            android:launchMode="singleTop"
            android:label="@string/title_activity_detailactivty"
            android:parentActivityName=".onlinetrending"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".onlinetrending"
            android:launchMode="singleTop"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <receiver android:name=".NewsAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/news_app_widget_info" />
        </receiver>

        <provider
            android:name=".TaskContentProvider"
            android:authorities="com.example.lenovo.onlinetrending"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".webviewactivity"
            android:parentActivityName=".detailactivty"/>

        <activity android:name=".Registeractivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
    </application>

</manifest>